@model IEnumerable<LojaDeDisco.Api.Models.Autor>

@{
	ViewBag.Title = "Index";
}

<script type="text/javascript" language="javascript">
	function CarregarSubitens(id) {
		if ($("#" + id + "_button").hasClass("glyphicon-plus-sign")) {
			$("#" + id + "_container").load("/autor/GetFilho/" + id);
			$("#" + id + "_button")
				.removeClass("glyphicon-plus-sign")
				.addClass("glyphicon-minus-sign");
		} else {
			$("#" + id + "_container").empty();
			$("#" + id + "_button")
				.removeClass("glyphicon-minus-sign")
				.addClass("glyphicon-plus-sign");
		}
	}
	$(document).ready(function () {
	});
</script>

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<div class="row">
	<div class="row h3">
		<span class="col-md-3 col-xs-6">Integrantes</span>
		<span class="col-md-3 col-xs-6">@Html.DisplayNameFor(model => model.NomeAutor)</span>
		<span class="col-md-6 col-xs-12">
		</span>
	</div>
	<div class="row">
		@Html.Action("GetFilho", "Autor")
	</div>
</div>

